@import 'css/github-markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar {
    /* 隐藏 IE, Edge 和 Firefox 的滚动条 */
    /* IE 和 Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  /* 隐藏 Chrome, Safari 和 Opera 的滚动条 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4a4a4a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --background: #FFFFFF;
  --foreground: #11181C;
  --default-50: #fafafa;
  --default-100: #f4f4f5;
  --default-200: #e4e4e7;
  --default-300: #d4d4d8;
  --default-400: #a1a1aa;
  --default-500: #71717a;
  --default-600: #52525b;
  --default-700: #3f3f46;
  --default-800: #27272a;
  --default-900: #18181b;
}

.dark {
  --background: #000000;
  --foreground: #ECEDEE;
  --default-50: #18181b;
  --default-100: #27272a;
  --default-200: #3f3f46;
  --default-300: #52525b;
  --default-400: #71717a;
  --default-500: #a1a1aa;
  --default-600: #d4d4d8;
  --default-700: #e4e4e7;
  --default-800: #f4f4f5;
  --default-900: #fafafa;
}

.ant-tabs .ant-tabs-content,
.ant-tabs .ant-tabs-tabpane {
  height: 100%;
}

.markdown-body {
  background-color: transparent !important;
}