@import 'css/github-markdown.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar {
    /* 隐藏 IE, Edge 和 Firefox 的滚动条 */
    /* IE 和 Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
  }

  /* 隐藏 Chrome, Safari 和 Opera 的滚动条 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #4a4a4a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #ffffff;
  --fg: #000000;
  --default-50: #FAFAFA;
  --default-100: #F4F4F5;
  --default-200: #E4E4E7;
  --default-300: #D4D4D8;
  --default-400: #A1A1AA;
  --default-500: #71717A;
  --default-600: #52525B;
  --default-700: #3F3F46;
  --default-800: #27272A;
  --default-900: #18181B;
}

.dark {
  --bg: #0a0a0a;
  --fg: #ededed;
  --default-50: #1f1f1f;
  --default-100: #282828;
  --default-200: #343434;
  --default-300: #3f3f46;
  --default-400: #4f4f57;
  --default-500: #5f5f67;
  --default-600: #6f6f77;
  --default-700: #7f7f87;
  --default-800: #8f8f97;
  --default-900: #9f9fa7;
}

.ant-tabs .ant-tabs-content,
.ant-tabs .ant-tabs-tabpane {
  height: 100%;
}

.markdown-body {
  background-color: transparent !important;
}