/**
  ----------------
  ----- root -----
  ----------------
*/
:root {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  --title-pad: 5px;
  --title-size: 15px;
  --title-weight: 500;
}

::selection{
  color: #fff;
  background-color: #000;
}

/**
  -----------------
  ----- input -----
  -----------------
*/
/* base */
a{
  text-decoration: none;
  color: #606266;
}
::-webkit-input-placeholder{
  color: #c0c4cc;
}
input[type="text"],
select{
  min-width: 60px;
}
input, select{
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  outline: none;
  color: #606266;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  transition: .2s;
}
input:hover,
input:focus,
select:hover,
select:focus{
  border-color: #c0c4cc;
}
input.disable,
select.disable{
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}

/* Extension */
input.blue:focus,
select.blue:focus{
  outline: none;
  border-color: #409eff;
}

/**
  ------------------
  ----- button -----
  ------------------
*/
/* base */
button{
  /* padding: 6px 12px; */
  height: 35px;
  line-height: 35px;
  font-weight: 500;
  font-size: 14px;
  color: #606266;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s;
}
button:hover{
  border-color: #c0c4cc;
}
button.disable{
  color: #c0c4cc;
  background-color: #fff;
  border-color: #ebeef5;
  cursor: not-allowed;
}

/* Extension */
button.blue:hover{
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
button.blue:active{
  border-color: #409eff;
}
button.yellow:hover{
  color: #e6a23c;
  background: #fdf6ec;
  border-color: #f5dab1;
}
button.yellow:active{
  border-color: #e6a23c;
}
button.yellow.fill{
  color: #e6a23c;
  background: #fdf6ec;
  border-color: #f5dab1;
}
button.yellow.fill:hover{
  background: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}
button.yellow.fill:active{
  background: #cf9236;
  border-color: #cf9236;
  color: #fff;
  outline: none;
}

button.bg-grey:hover{
  background-color: #f9fafc;
  border-color: #dcdfe6;
}

/**
  -----------------
  ----- tip -----
  -----------------
*/

.tip{
  margin: 6px 0;
  padding: 6px 8px;
  display: block;
  color: #606266;
  border-radius: 2px;
  border-left: 4px solid #dcdfe6;
  background-color: #f8f8f8;
}
.tip.blue{
  background-color: #ecf8ff;
  border-left-color: #50bfff;
}
.tip.yellow{
  background-color: #fdf6ec;
  border-left-color: #e6a23c;
}



/**
  -----------------
  ----- other -----
  -----------------
*/
.template,
.hide{
  display: none;
}
.wide{
  width: 100%;
}
.high{
  height: 100%;
}

div.card{
  margin: 0;
  /* padding: 5px; */
  border: 1px solid #dcdfe6;
  border-radius: 2px;
}
div.card:hover{
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, .6), 0 2px 4px 0 rgba(232, 237, 250, .5);
}

div.l-title{
  padding: var(--title-pad);
  font-size: var(--title-size);
  font-weight: var(--title-weight);
}

.drop-down{
  overflow-y: auto;
  height: 100px;
  transition: .3s;
}
.drop-down.disable{
  height: 0px !important;
}
